* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#title {
    width: 100vw;
    background: linear-gradient(#256aff, #1f59d6);
    padding: 2rem 2rem;
}

body {
    background: linear-gradient(white 80%, rgb(178, 201, 253) 100%);
}

h1 {
    font-size: clamp(2.5rem, 5vh, 4rem);
}

h3 {
    margin: 1rem 1rem;
}
p,ol,ul,img,b {
    margin: 0.5rem 1rem;
}

li b {
    margin: 0 0;
}

ol,ul {
    padding-left: 1.5rem;
}

img {
    display: block;
    margin: 0.5rem auto;
}

.Horizontal {
    width: clamp(20%, 450px, 90%);
    height: auto;
}

.Vertical {
    width: clamp(10%, 170px, 90%);
    height: auto;
}

.Square {
    width: clamp(20%, 253px, 90%);
    height: auto;
}

#Indice {
    margin: 1rem 1rem;
    border-radius: 1rem;
    width: max-content;
    height: 100%;
    padding: 0.5rem 0 1rem 0;
    background: linear-gradient(#256aff, #1f59d6);
    color: white;
    font-weight: bold;
}

#Indice a {
    color: white;
}

#Pie {
    width: 100vw;
    background: linear-gradient(#256aff, #1f59d6);
    padding: 2rem 2rem;
}